
/shelf/
/workspace.xml
\*.iml
/.idea
/tmp
out/
/target/
!"D:\1. Workplace\1. Java\NetologyHW\GitHW1\src"
GitHW1/.idea/
GitHW1/GitHW1.iml
../\*.iml
/GitHW1/*
!/GitHW1/src/
GitHW1/.idea/
GitHW1/GitHW1.iml
GitHW1/out/

/MagicBox/*
!/MagicBox/src/
MagicBox/.idea/
MagicBox/out/

/ProductList/*
!/ProductList/src/
ProductList/.idea/
ProductList/out/

/Attraction/*
!/Attraction/src/
Attraction/.idea/
Attraction/out/

/LoremIpsum/*
!/LoremIpsum/src/
LoremIpsum/.idea/
LoremIpsum/out/

/Person/*
!/Person/src/
Person/.idea/
Person/out/

/MavenHW/*
/MavenHW/api/target
!/MavenHW/api/
/MavenHW/db/target
!/MavenHW/db/
/MavenHW/service/target
!/MavenHW/service/
!/MavenHW/pom.xml
MavenHW/.idea/
MavenHW/out/



!/GradleNewHW/api/build.gradle
!/GradleNewHW/api/src/main/java/
!/GradleNewHW/db/build.gradle
!/GradleNewHW/db/src/main/java/
!/GradleNewHW/service/build.gradle
!/GradleNewHW/service/src/main/java/
!/GradleNewHW/settings.gradle
/GradleNewHW/api/build
/GradleNewHW/api/src
/GradleNewHW/db/src
/GradleNewHW/db/build
/GradleNewHW/service/src
/GradleNewHW/service/build
/GradleNewHW/build.gradle
/GradleNewHW/gradlew
/GradleNewHW/gradlew.bat
/GradleNewHW/build/
/GradleNewHW/gradle/
/GradleNewHW/.gradle/
/GradleNewHW/.idea/
/GradleNewHW/out/
/GradleNewHW/src/

StreamAPI/*
StreamHW/*
untitled/*
tmp/*

/FoodBasket/*
!/FoodBasket/src/
FoodBasket/.idea/
FoodBasket/out/

!/OSI/src/
!/OSI/pom.xml
OSI/.idea/
OSI/out/
OSI/target/

!/OSICity/src/
!/OSICity/pom.xml
OSICity/.idea/
OSICity/out/
OSICity/target/

!/HTTPproject/src/
!/HTTPproject/pom.xml
HTTPproject/.idea/
HTTPproject/out/
HTTPproject/target/

!/ProductBasketStream/src/
!/ProductBasketStream/pom.xml
ProductBasketStream/.idea/
ProductBasketStream/out/
ProductBasketStream/target/

geoService/*

!/BuilderHW/src/
!/BuilderHW/pom.xml
BuilderHW/.idea/
BuilderHW/out/
BuilderHW/target/

!/LoggerHW/src/
!/LoggerHW/pom.xml
LoggerHW/.idea/
LoggerHW/out/
LoggerHW/target/