
/shelf/
/workspace.xml
\*.iml
/.idea
/tmp
out/
/target/
!"D:\1. Workplace\1. Java\NetologyHW\GitHW1\src"
GitHW1/.idea/
GitHW1/GitHW1.iml
../\*.iml
/GitHW1/*
!/GitHW1/src/
GitHW1/.idea/
GitHW1/GitHW1.iml
GitHW1/out/

/MagicBox/*
!/MagicBox/src/
MagicBox/.idea/
MagicBox/out/

/ProductList/*
!/ProductList/src/
ProductList/.idea/
ProductList/out/

/Attraction/*
!/Attraction/src/
Attraction/.idea/
Attraction/out/